/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --blue-color: #2e63f4;
    --blue-color-land: #2e63f4;
    --light-blue-color: #d1ddfa;
    --black-color: #000000;
    --gray-color: #a2a2a2;
    --text-color: #2b62fb;
    --data-text-color: #000000;
    --bg-color: rgb(255, 255, 255);
    --blue-color-very-light: #c9d8ff;
    --baby-blue-color: #e7f2fd;
  }

  body {
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
  }
  body.dark {
    background-color: #333;
  }
  body.dark {
    --bg-color: #222;
    --blue-color: #4070f4;
    --blue-color-land: #ffffff;
    --grey-color: #f0f0f0;
    --grey-color-dark: #ffffff;
    --light-blue-color: #3c61be;
    --data-text-color: #ffffff;
    --blue-color-very-light: #103080;
    --baby-blue-color: rgb(103, 103, 103);
  }

  section{
    padding: 4.5rem 0 1.5rem;
  }

  img{
    width: 100%;
  }

  body{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
  }

  header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54/ 15%);
    padding: 20px 100px;
    transition: 0.5s;

  }

  button{
    background-color: #4070f4;
    color: #ffffff;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
  }

  .profile span{
    font-size: 15px;
  }

  /* Pre css */
  .flex {
    display: flex;
    align-items: center;
  }
  
  /* Navbar */
  
   .prelog_navbar {
    
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    top: -570px;
    } 

    .prelog_navbar .logo_item {
        display: flex;
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        font-size: 24px;
        font-weight: 500;
        color: var(--blue-color-land);
    }
    
    .logo_item img {
        max-width: 40px; 
        height: auto; 
        border-radius: 50%;
    }

    .prelog_navbar a{
        font-size: 1rem;
        font-weight: 500;
        color: var(--blue-color-land);
        padding: 0.5rem 1rem;
    }

    .prelog_navbar a:hover,
    .prelog_navbar .home-active {
        background: var(--blue-color-land);
        /*border-radius: 5rem;*/
        color: var(--bg-color);
        transition: background 0.5s;
        border-radius: 5px;
    }

    .profile{
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        cursor: pointer;
    }

    .profile img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }

    .profile span{
        font-size: 13px;
        font-weight: 500;
    }

    .logo{
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--text-color);
        column-gap: 0.5rem;
    }


/*swiper container*/
    .swiper-container {
        padding-top: 100px; 
        position: relative;
        width: 100%;
        min-height: 400px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;

    
    }

    
    .swiper-container img{
        width:  300px;
        position: absolute;
        padding: auto;
        top: -50px;
        bottom: -50px;
        right: 200px;
    }

    .home-text{
        padding: 0 150px;   
    }

    .home-text span{
        font-size: 1.4rem;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--blue-color-land); 
    }

    .home-text h1{
        color: var(--blue-color-land);
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 1rem;

    }

    .btn{
        padding: 0.6rem 1rem;
        background: var(--blue-color-land);
        color: var(--bg-color);
        font-size: 1rem;
        font-weight: 470;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        max-width: 140px;
    }

    .btn:hover{
        background-color: var(--gray-color);
        transition: 0.2s ease;
    }

    swiper-button-next{
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        margin-left: 20px;
        cursor: pointer;
        color: var(--blue-color-land);
    }

    swiper-button-prev{
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        margin-right: 20px;
        cursor: pointer;
        color: var(--blue-color-land);
    }

    .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .heading h1{
        color: var(--blue-color-land);
        font-size: 1.6rem;
        font-weight: 600;
    }

    .heading span{
        color: var(--blue-color-land);
    }

    /*about-swiper*/
    .swiper-container-about {
        padding-top: 100px; 
        position: relative;
        width: 100%;
        min-height: 400px;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        background: url(../img/Asiri1.jpg);
    
    }

    
    .swiper-container-about img{
        width:  300px;
        position: absolute;
        padding: auto;
        top: -50px;
        bottom: -50px;
        right: 200px;
    }


    /*Our services*/

    .ourservices{
        max-width: px968;
        margin-left: 30px;
        margin-right: 30px;
    }

    .ourservices-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(180px,auto));
        gap: 1rem;
        margin-top: 2rem;
    }

    .ourservices-container .box{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 300px;
        border-radius: 0.5rem;
        background:var(--light-blue-color);
    }

    .ourservices-container .box img{
        width: 100%;
        height: 150px;
        object-fit: contain;
        object-position: center;
    }

    .ourservices-container .box h2{
        color: var(--blue-color-land);
        margin-top: 20px;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .ourservices-container .box .bx{
        padding: 10px;
        background: var(--blue-color);
        color: var(--bg-color);
        border-radius: 5rem;
        margin-top: 2rem;
        position: absolute;
        bottom: -8%;
        display: none;
    }

    .ourservices-container .box .bx:hover{
        background: var(--gray-color);
        transition: 0.2s all linear;
    }

    .ourservices-container .box:hover .bx{
        display: block;
        transition: 0.2s all linear;
    }
    

    /*About*/

    .about{
        max-width: 968px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
        align-items: center;
        gap: 1.5rem;
    }

    .about-text span{
        font-size: 1.9rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--blue-color-land);
    }

    .about-text p{
        color: var(--blue-color-land);
        font-size: 1.3rem;
        margin: 0.5rem 0 1rem;
    }

    /*Footer*/
    .footer{
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap: 1.5rem;
        margin-top: 2rem;
        background: #b3c8fc;
        border-radius: 0.5rem;
        padding: 20px;
    }

    .footer-box{
        display: flex;
        flex-direction: column;
    }

    .footer-box p{
        font-size: 0.938rem;
        margin: 0.5rem 0 1rem;
    }

    .social{
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    .social .bx{
        padding: 10px;
        background: var(--bg-color);
        color: var(--blue-color);
        border-radius: 5rem;
        font-size: 20px;
    }

    .social .bx:hover{
        background: var(--blue-color);
        color: var(--bg-color);
        transition: 0.2s all linear;
    }

    .footer-box h2{
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .footer-box a{
        color:rgb(0, 0, 0);
        margin-bottom: 1rem;
    }

    .footer-box a:hover{
        color:var(--gray-color);
    }

    .footer-box form{
        border-bottom: 1px solid var(--text-color);
        padding: 10px;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    .footer-box form input{
        background: transparent;
        border: none;
        outline: none;
    }

    .footer-box form .bx{
        font-size: 20px;
        color: var(--text-color);
        cursor: pointer;
    }

    .footer-box form .bxs-envelope{
        color:var(--blue-color)
    }
    

    /*responsive features*/
    @media (max-width:1080px){
        header{
            padding: 18px 60px;
        }
        .home-text{
            padding: 0 100px;
        }
        .container img{
            right: 100px;
        }
    }

    @media (max-width:991px){
            header{
                padding: 18px 4%;
            }
            section{
                padding: 50px, 4%;
            }
            .home-text h1{
                font-size: 2rem;
            }
            .swiper-button-next,
            .swiper-button-prev{
                margin: 0;
            }
    }

    @media (max-width:852px){
        header{
            padding: 12px 4%;
        }
        .prelog_navbar{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background: var(--bg-color);
            box-shadow: 4px 4px 0 4px rgb(14 55 54/ 15%);
            transition: 0.2s all linear;
            text-align: left;
        }
        .prelog_navbar a{
            padding: 1rem;
            margin: 1rem;
            display: block;
        }

        .prelog_navbar.active{
            top: 100%;
        }
}

/* About us pages */

.page-header{
        padding-top: 100px; 
        position: relative;
        width: 100%;
        min-height: 400px;
        display: flex;
        align-items: center;
        /*justify-content: center; */
        /*background-image: url(../img/patient-bg.jpg);*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
}
.page-header .home-text{
    color: var(--black-color);
}

.pic1{
    background-image: url(../img/patient_mgt.png);
}

.pic2{
    background-image: url(../img/doc_mgt.png);
}

.pic3{
    background-image: url(../img/hospital_mgt.png);
}

.pic4{
    background-image: url(../img/pharma_mgt.png);
}

.pic7{
    background-image: url(../img/terms.png);
}



 /*Services - Data*/

 .services-data{
    max-width: 2000px;
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: var(--data-text-color);
}

.services-data-text span{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--data-text-color);
}

.services-data-text p{
    font-size: 1.3rem;
    margin: 0.5rem 0 1rem;
}

.services-data-text h1{
    font-size: 1.8rem;
    font-weight: 600;
}
.services-data img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: center;
}

.s1{
    width: 100%;
    background: var(--baby-blue-color);
}
.s2{
    width: 100%;
    background: var(--blue-color-very-light);
}

.services-data .ul{
    list-style: none;
    padding: 0;
}

.services-data .li{
    position: relative;
    padding-left: 25px; /* Adjust the padding as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
}
