@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #4070f4;
}

form {
  margin:5%;
  padding: 25px;
  background: #fff;
  max-width: 1000px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

form h2 {
  font-size: 29px;
  text-align: center;
  margin: 0px 0 30px;
}

form .form-group {
  margin-bottom: 15px;
  position: relative;
}

form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}

form input,
form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
  border-color: #9a9a9a;
}

form input.error,
form select.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

form .password i {
  position: absolute;
  right: 0px;
  height: 45px;
  top: 28px;
  font-size: 13px;
  line-height: 45px;
  width: 45px;
  cursor: pointer;
  color: #939393;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
}

.submit-btn input {
  color: white;
  border: none;
  height: auto;
  font-size: 16px;
  padding: 13px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  background: #4070f4;
  transition: 0.2s ease;
}

.submit-btn input:hover {
  background: #1d54ec;
}

.treatment-form {
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the form */
}

.treatment-row {
  display: flex;
  flex-direction: row;
}

.form-group {
  flex: 1 1 25%; /* Adjust width of form groups */
  margin-right: 10px; /* Adjust spacing between form groups */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.suggestions {
  position: absolute;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}

/* button {
  margin-top: -30px;
  margin-bottom: 30px;
} */

#add-row-btn
{
  margin-top: -30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 20px; 
  background-color: #416de5; 
  color: white; 
  font-weight: 500;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#add-row-btn:hover
{
  background: #1d54ec;
}

#delete-row-btn
{
  margin-top: -30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 15px; 
  background-color: #d14848; 
  color: white; 
  font-weight: 500;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#delete-row-btn:hover
{
  background: #cf1b1b;
}

#add-row-test-btn
{
  margin-top: -30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 20px; 
  background-color: #416de5; 
  color: white; 
  font-weight: 500;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#add-row-test-btn:hover
{
  background: #1d54ec;
}

#delete-row-test-btn
{
  margin-top: -30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 15px; 
  background-color: #d14848; 
  color: white; 
  font-weight: 500;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#delete-row-test-btn:hover
{
  background: #cf1b1b;
}


/* button {
  margin-top: -30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 20px; 
  background-color: #416de5; 
  color: white; 
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

button:hover {
  background: #1d54ec;
} */




